.vid-description{
    padding-left: 55px ;
    margin: 15px 0;
}


.vid-description p {
    font-size: 14px;
    margin-bottom: 5px;
    color: #5a5a5a;
}

.vid-description h4 {
    font-size: 14px;
    color: #5a5a5a;
    margin-top: 15px;
}